<app-header></app-header>
<div class="explicationText">
  <p class="text">«Un Brin d’Aventure nous accompagne avec</p>
  <p class="text">bienveilance au quotidien, grâce à ses bouquets de</p>
  <p class="text">saisons chargés d’émotions et créés sur mesure qui</p>
  <p class="text">ramenent la beauté ephémère et la douceur de la</p>
  <p class="text">nature dans nos intérieurs»</p>
</div>
<div class="learnMore">
  <button class="learnMoreButton">
    <div class="buttonContent">
      <p>En savoir plus</p>
    </div>
  </button>
</div>
<div class="selection">
  <h2 class="title">Notre sélection</h2>
  <h2 class="title">du moment</h2>
  <div class="flexBox">
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">L'empathique</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">Le doux</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">T'es belle</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">Le bienveillant</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">La délicatesse</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">Gentillesse</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">Tendresse</p>
    </div>
    <div class="item">
      <img class="itemImage" src="https://i.notretemps.com/1800x0/smart/2020/11/19/acheter-des-fleurs-100-francaises-le-pari-du-slow--.jpg">
      <p class="itemTitle">Je t'aime</p>
    </div>
  </div>
</div>
<div class="instagram">
  <div class="instagramTitle">
    <p>Suis-nous sur</p>
    <p>Instagram !</p>
  </div>
  <div class="instagramPost">
    <div class="lineAbove">
      <a href="https://www.instagram.com/p/B37nhdToRbf/">
        <img class="instagramImg" src="../../assets/Images/insta1.jpg">
      </a>
      <a href="https://www.instagram.com/p/CA-lqdUqhBn/">
        <img class="instagramImg" src="../../assets/Images/insta2.jpg">
      </a>
      <a href="https://www.instagram.com/p/CAfIH2CqpbV/">
        <img class="instagramImg" src="../../assets/Images/insta3.jpg">
      </a>
    </div>
    <div class="lineBelow">
      <a href="https://www.instagram.com/p/CALd_rmq0g4/">
        <img class="instagramImg" src="../../assets/Images/insta4.jpg">
      </a>
      <a href="https://www.instagram.com/p/B95Aj6dq4E4/">
        <img class="instagramImg" src="../../assets/Images/insta5.jpg">
      </a>
      <a href="https://www.instagram.com/p/B7eD-upobiZ/">
        <img class="instagramImg" src="../../assets/Images/insta6.jpg">
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
