<p class="login" (click)="redirectToManageAccount()">Connexion</p>
<div class="containerLogo">
  <img class="logo" src="../../assets/Logo/logo.png">
  <h2 class="subTitle">Fleuristerie Lilloise</h2>
  <h2 class="subTitle">Artisanale et bienveillante.</h2>
</div>
<div>
  <ul class="menu">
    <li class="itemMenu">
      <p class="itemMenuTitle">Occasions</p>
      <svg ibmIconChevronDown class="iconMenu" size="16" ></svg>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Nos produits</p>
      <svg ibmIconChevronDown class="iconMenu" size="16" ></svg>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Nos services</p>
      <svg ibmIconChevronDown class="iconMenu" size="16" ></svg>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Création sur-mesure</p>
      <svg ibmIconChevronDown class="iconMenu" size="16" ></svg>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">A propos</p>
      <svg ibmIconChevronDown class="iconMenu" size="16" ></svg>
    </li>
  </ul>
</div>



