<div class="containerLogo">
  <img class="logo" src="../../assets/Logo/logo.png">
  <h2 class="subTitle">Fleuristerie Lilloise</h2>
  <h2 class="subTitle">Artisanale et bienveillante.</h2>
</div>
<div>
  <ul class="menu">
    <li class="itemMenu">
      <p class="itemMenuTitle">Évènementiel</p>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Deuil</p>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Nos services</p>
    </li>
    <li class="itemMenu">
      <p class="itemMenuTitle">Nous connaître</p>
    </li>
  </ul>
</div>



