<div class="footer">
  <div class="contact">
    <h2 class="title">Contact</h2>
    <p class="text">bonjour@unbrindaventure.fr</p>
    <p class="text">06 00 00 00 00</p>
    <div class="socialLogo">
      <svg ibmIconLogoInstagram class="iconSocialInstagram" size="16" ></svg>
      <svg ibmIconLogoFacebook class="iconSocialFacebook" size="16" ></svg>
    </div>
  </div>
  <ul class="menu">
    <li class="menuList">Évènementiel</li>
    <li class="menuList">Deuil</li>
    <li class="menuList">Nos services</li>
    <li class="menuList">Nous connaître</li>
  </ul>
  <div class="legalNotice">
    <h2 class="title">Mentions légales</h2>
    <p class="text">CGV</p>
    <p class="text">CGU</p>
    <p class="text">Mentions légales</p>
    <p class="text">Politiques de confidentialité</p>
  </div>
</div>
